* {
    margin: 0;
    padding: 0;
}
body {
    background-color: pink;
}
header {
    display: flex;
    width: 90%;
    padding: 5px;
    box-sizing: border-box;
    background-color: black;
    color:white;
    justify-content: space-between;
    margin: 0 auto;
}
.posicion-p-header {
    display: block;
    margin: auto 0;
    text-shadow: 0.5px 0.5px white;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-transform: uppercase;
}
.container{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
}
.main {
    width: 75%;
    padding: 2%;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 8px 8px 4px #5a5a5a;
    margin-right: 5%;
    background-color: white;
}
table {
    width: 100%;
    border-collapse: collapse;

}
table td {
    width: 160px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.hora {
    width: 10px;
    background-color: #88e0ff;
    color: white;
}
.dias {
    background-color: #3dbcff;
    color: white;
}
.fila {
    background-color: #dddddd;
}
.materia {
    background-color: #f5f84e;
}
.materia:hover {
    cursor:pointer;
    background-color: #caf777;
}
aside {
    width: 20%;
    height: 300px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 5px 5px 3px #e105f5;
    background-color: #cf7af7;
}
.subtitulo {
    background-color: #ae3ff8;
    color:white;
    padding: 5px;
}
.lista {
    background-color: #cf7af7;
    color:white;
    padding: 5px;
}
.item {
    width:90%;
    margin: 4px 8px;
    padding: 4px;
    background-color: #eb31a6;
    list-style: none;
}
footer {
    background-color: #a3fcbe;
    width: 300px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #06a929;
    border-radius: 5px;
}
.fixed {
    position: fixed;
    bottom: 20px;
    right: 0;
}
.ampliado {
    color: #009b10;
    font-size: 12px;
    font-family: cursive;
    text-transform: uppercase;
}